### Python such as lists, dictionaries, and sets.
### Basic operations like adding, removing, and modifying elements.

#### 1. List

In [1]:
#create the list 
list = [10, 20, 30, 40, 50, 15]
print("My list : ", list )

My list :  [10, 20, 30, 40, 50, 15]

In [2]:
#add a element 
list.append(60)
print(" 60 add in list  : ", list)

 60 add in list  :  [10, 20, 30, 40, 50, 15, 60]

In [3]:
#remove
list.remove(15)
print(" 15 remove from the list  : ", list)

 15 remove from the list  :  [10, 20, 30, 40, 50, 60]

In [4]:
#modify
list[1] = 200

print(" At 2nd place we modify the no with 200  : ", list)

 At 2nd place we modify the no with 200  :  [10, 200, 30, 40, 50, 60]

In [5]:
# final results

print(" Final list  : ", list)

 Final list  :  [10, 200, 30, 40, 50, 60]

#### 2. Dictionaries

In [6]:
#create a dict
dict = {
        'name': 'Rudra',
       'age' : '19',
       'city': 'rgp'
       }
print("Dict :", dict)

Dict : {'name': 'Rudra', 'age': '19', 'city': 'rgp'}

In [7]:
#add a new key , value pair
dict['gender'] = 'Male'

print(" Add a new key , value pair in Dict :", dict)

 Add a new key , value pair in Dict : {'name': 'Rudra', 'age': '19', 'city': 'rgp', 'gender': 'Male'}

In [8]:
# delete the age key 
del dict['age']
print(" Delete the age key from Dict :", dict)

 Delete the age key from Dict : {'name': 'Rudra', 'city': 'rgp', 'gender': 'Male'}

In [9]:
# modify
dict['city'] = 'Puri'
print(" Modify Dict :", dict)

 Modify Dict : {'name': 'Rudra', 'city': 'Puri', 'gender': 'Male'}

In [10]:
# final dict
print(" Final Dict :", dict)

 Final Dict : {'name': 'Rudra', 'city': 'Puri', 'gender': 'Male'}

#### Set

In [11]:
# Create a set
my_set = {10, 20, 30,  40, 50, 10 }
print(" My Set  :", my_set)

 My Set  : {50, 20, 40, 10, 30}

In [12]:
#adding
my_set.add(3000)
print(" Add 3000 in  Set  :", my_set)

 Add 3000 in  Set  : {50, 20, 3000, 40, 10, 30}

In [13]:
#remove
my_set.remove(30)
print(" Remove 30 from set  :", my_set)

 Remove 30 from set  : {50, 20, 3000, 40, 10}

In [14]:
#modify
my_set.discard(50)
my_set.add(9000)
print(" Discard'50' & add '9000' from set  :", my_set)

 Discard'50' & add '9000' from set  : {9000, 20, 3000, 40, 10}

In [15]:
# final set
print(" Final set  :", my_set)

 Final set  : {9000, 20, 3000, 40, 10}

By Rudra !